{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все новости</h1>
<h3> {{ posts|length }} </h3>
<hr>
   {% if posts %}
       <table>
           {% for news in posts %}
           <tr>
               <td>{{ news.title }}</td>
               <td>{{ news.created_at| date:'M d Y' }}</td>
               <td>{{ news.text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}
       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}
